
@font-face { font-family: BasierSquareMono-Regular; src: url('fonts/BasierSquareMono-Regular.otf'); }
@font-face { font-family: TAYBirdie; src: url('fonts/TAYBirdie.otf'); }
/* CSS for positioning canvas */
#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically as well */
  height: 100%; /* Ensure the container takes full height */

}

/* Ensure the parent container takes full height */
body, html {
  height: 100%;
  margin: 0;
  font-family: TAYBirdie;
  font-size: 16px;
}

h1 {
  margin-top: 1%;
  font-size: 26px;
}

/* Ensure the container containing canvas takes full height */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.no-select {
      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
      user-select: none; /* Standard */
    }

#mybutton{
  margin-bottom: 2.5%;
  font-family: BasierSquareMono-Regular;
}
